body{
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
    margin:0;
}

canvas{
    width:90vw;
    height:70vh;
    border:3px solid white;
    background:black;
}